.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(179, 215, 241);
    background: linear-gradient(90deg, rgb(81, 90, 97)0%,rgb(124, 121, 131) 100%);
}
.card ,h1,h6{
    color: #ffff;
}
label{
    color: #ffff;
}
.passwordmask{
    position: relative;
    .passwordeye{
      cursor: pointer;
        position: absolute;
        color: #6e6e7a;
        top: 37px;
        font-size: 18px;
        right: 10px;
    
    }
    
}

